// define screen font size
$phoneFontSize: 16px;
$padFontSize: 18px;
$pcFontSize: 20px;

// defind RWD site size
$phoneMaxWidth: 767px;
$padMinWidth: 768px;
$padMaxWidth: 1023px;
$pcMinWidth: 1024px;
$pcMaxWidth: 1024px;